.box {
    /* background-color: #f0f0f0; */
    /* padding: 20px; */
    text-align: center;
    transition: background-color 0.3s ease;
  }

  .box:hover {
    background-color: #eaeaea;
  }

  .box-text {
    margin-top: 10px;
  }
   .border-right {
    border-right: 2px solid #000;
  }
  